@font-face {
    font-family: 'skemapronews';
    src: local('skemapronews medium'),
         url('../assets/fonts/skemapronews/SkemaProNews-Medium.otf') format('otf'),
         url('../assets/fonts/skemapronews/SkemaProNews-Medium.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'skemapronews';
    src: local('skemapronews medium'),
         url('../assets/fonts/skemapronews/SkemaProNews-MediumItalic.otf') format('otf'),
         url('../assets/fonts/skemapronews/SkemaProNews-MediumItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
     font-family: 'bitter', serif;
     src: local('bitter variable'),
          url('../assets/fonts/bitter/Bitter-VariableFont_wght.ttf') format('ttf');
     font-weight: 1;
     font-stretch: 1;
}

@font-face {
     font-family: 'bitter', serif;
     src: local('bitter italic'),
          url('../assets/fonts/bitter/Bitter-Italic-VariableFont_wght.ttf') format('ttf');
     font-weight: 1;
     font-stretch: 1;
}