h1 {
	font-weight: 400;
	font-size: 4rem;
	overflow: visible;
}

p {
	font-size: 2rem;
}

.rectangle {
	margin-left: -20%; /* Adjust the negative margin to push the rectangle slightly behind the text */
	line-height: 100%;
	/* z-index: -1; */
}

.welcome {
	z-index: 1;
}

.landing-container {
	margin-top: calc(100vh / 4);
	padding: 2rem;
}
