.fade-out {
    opacity: 0;
    transition: opacity 2s ease-out;
}

.scroll-container {
    height: 100vh; /* Adjust height as needed */
    position: relative;
}

.scroll-text {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: #0f1b61;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 71%;
    left: 29%;
}

.vertical-line-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.vertical-line {
    height: 30vh;
    width: 1px;
    background-color: #cad1df;
}